@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $bg-color;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 42px;
  width: auto;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin input($main-color, $text-color, $active-color) {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid $main-color;
  cursor: pointer;
  height: 42px;
  width: 100%;
  font-size: 14px;
  color: $text-color;

  &::placeholder {
    color: $color-basic-dark;
    opacity: 0.5;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid $active-color;
    outline: none;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  }
}
