//colors
$color-basic-dark: #101118;
$color-basic-light: #f4f1de;
$color-accent-light: #f2cc8f;
$color-accent-terracotta: #e07a5f;
$color-accent-blue: #3d405b;
$color-accent-green: #81b29a;

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
