//colors
$color-basic-dark: #101118;
$color-basic-light: #f5f3f1;

$color-accent-yellow: #f2cc8f;
$color-light-yellow: #f4f1de;
$color-accent-terracotta: #e07a5f;
$color-accent-blue: #3d405b;
$color-accent-green: #81b29a;
$color-light-green: #c0d8cc;

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
