.list {
  position: relative;
  height: calc(100vh - 64px);
  h1 {
    color: red;
  }

  .addBtnMobile {
    @include button($color-accent-terracotta, $color-basic-light);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    right: 8px;
  }

  .addBtnDesktop {
    @include button($color-accent-terracotta, $color-basic-light);
  }
}
